# Порт для запуску сервера
PORT=3000

# Підключення до бази даних (замініть USER, PASSWORD та mydb на свої)
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/mydb"

# Секретний ключ для JWT токенів
JWT_SECRET="your_super_secret_key_here"